.home__container {
  display: grid;
  grid-template-columns: auto 1fr;
}
.drawer {
  overflow: hidden;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: var(--black);
  padding: 1rem 0;
}
.drawer__actions {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
  align-items: center;
}
.drawer__logo {
  width: auto;
  height: 32px;
}

.drawer__link {
  opacity: 0.75;
  padding: 1rem 2rem;
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--gray-50);
  transition: all 350ms ease-in;
}
.drawer__link:hover {
  background-color: var(--gray-900);
  color: var(--green-500);
}
.drawer__link--active {
  color: var(--green-500);
  font-weight: 800;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--gray-200);
}
.navbar__close-sesion {
  background-color: var(--gray-100);
  margin-left: auto;
  height: 36px;
  padding: 0 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 6px;
}
.navbar__arrow {
  border-radius: 50%;
  background-color: var(--gray-100);
  padding: 0.5rem;
  line-height: 0;
  margin: 0;
}

.content {
  background-color: var(--green-50);
}
main {
  padding: 0 1rem;
}
header {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--gray-200);
}

.header__title > h1 {
  font-size: var(--heading-2);
}
.header__title {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.two-columns {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

input[type="file"] {
  visibility: hidden;
}
.form {
  margin-inline: auto;
  padding: 1.5rem 0;
  max-width: 1000px;
}

.input--file {
  background-color: var(--gray-100);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-200);
  height: 160px;
}
.input--file > svg {
  margin-bottom: 1rem;
  width: 3rem;
  height: 3rem;
  color: var(--gray-700);
}
.input--file > span {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4;
  color: var(--gray-700);
}

label {
  color: var(--gray-900);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.button {
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 1rem;
  background-color: transparent;
  border-radius: 6px;
  min-width: 160px;
}
.button:hover {
  background-color: var(--green-400);
}
.button--primary {
  background-color: var(--green-500);
  color: var(--white);
}
.button--terciary {
  color: var(--green-500);
}
.button--terciary:hover {
  color: var(--white);
}
.buttons {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.hambur-menu {
  line-height: 0;
  background: none;
  padding: 0;
}

.hambur-menu--mobile {
  display: none;
}
.hambur-menu--mobile path {
  stroke: var(--gray-700);
}

@media (max-width: 1060px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .drawer {
    display: none;
  }
  .hambur-menu--mobile {
    display: block;
  }
  .home__container {
    grid-template-columns: auto;
  }
  .home__actions {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .button > img {
    width: 1.5rem;
  }
}

.drawer--visible {
  position: fixed;
  display: block;
  width: fit-content;
  top: 0;
  left: 0;
  height: 100%;
}
.no-visible {
  visibility: hidden;
}
